<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <title>Kilomux Monitoring</title>

  <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/londinium-theme.css" rel="stylesheet" type="text/css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!--<link href="/css/icons.css" rel="stylesheet" type="text/css">-->
  <link href="/css/icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/lobibox/lobibox.css">

  <script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/jquery/dist/jquery-ui.min.js"></script>
  <script src="/assets/lobibox/lobibox.min.js"></script>

  <script type="text/javascript" src="/js/plugins/charts/sparkline.min.js"></script>

  <script type="text/javascript" src="/js/plugins/forms/uniform.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/select2.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/autosize.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/inputlimit.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/listbox.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/multiselect.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/validate.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/tags.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/switch.min.js"></script>

  <script type="text/javascript" src="/js/plugins/forms/uploader/plupload.full.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/uploader/plupload.queue.min.js"></script>

  <script type="text/javascript" src="/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/wysihtml5/toolbar.js"></script>

  <script type="text/javascript" src="/js/plugins/interface/daterangepicker.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/fancybox.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/moment.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/jgrowl.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/datatables.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/colorpicker.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/fullcalendar.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/timepicker.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>


  <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.css" rel="stylesheet" />
  <script data-require="datatables@*" data-semver="1.10.12" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
  <script src='https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js'></script>
  <script src='//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js'></script>



</head>

<body>
<!-- Page container -->
<div class="page-container">

  <%- include partial/nav-bar.ejs %>
  <%- include partial/side-bar.ejs %>

  <!-- Page content -->
  <div class="page-content">

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal modal-demo" style="width: 30%">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">CONFIRMATION!</h2>
            </div>

            <div class="modal-body with-padding">
              <p>Bạn có muốn xóa tài sản này không?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary" id="confirm">Đồng ý</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page header -->


    <div style="margin-top: 20px;" class="callout callout-warning fade in">
      <h5 style=" float: left" id="name-mux"><%=result.name%></h5>
    </div>

    <!-- Page tabs -->
    <div class="tabbable page-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#properties" data-toggle="tab"><i class="icon-info2"></i>Properties</a></li>
        <li class=""><a href="#card" data-toggle="tab"><i class="icon-disk"></i>Card</a></li>
        <li id="get-alarm" class=""><a href="#alarm" data-toggle="tab"><i class="icon-bubble-notification2"></i>Alarm</a></li>
      </ul>
      <div class="tab-content">
        <!-- First tab -->
        <div style="padding: 0 10%;" class="tab-pane fade active in" id="properties">
          <div class="panel panel-default">
            <div class="panel-heading panel-color">
              <h6 class="panel-title"><i class="icon-insert-template"></i> KILOMUX DETAIL</h6>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Property</th>
                  <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Name</td>
                  <td id="mux-name"><%=result.name%></td>
                </tr>
                <tr>
                  <td>IP Address</td>
                  <td id="mux-ip"><%=result.ip_address%></td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td id="mux-location"><%=result.location%></td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td id="mux-type"><%=result.type%></td>
                </tr>
                <tr>
                  <td>Read Community String</td>
                  <td id="mux-read"><%=result.read_community%></td>
                </tr>
                <tr>
                  <td>Write Community String</td>
                  <td id="mux-write"><%=result.write_community%></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /first tab -->

        <!-- Second tab -->
        <div class="tab-pane fade" id="card">
          <div style="padding: 0 10%;" class="tab-pane fade active in" id="properties">
            <div class="panel panel-default">
              <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>LIST CARD</h6></div>
              <div class="table-responsive">
                <div class="panel-group block" id="list-card">

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /second tab -->

        <!-- Third tab -->
            <div style="padding: 0 10%;" class="tab-pane fade in" id="alarm">
              <div class="panel panel-default">
                <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>LIST ALARM</h6></div>
                <div class="table-responsive">
                  <div class="panel-group block" id="list-alarm">
                    <table class='table table-bordered' style="border-bottom: 1px solid #ccc;">
                      <thead>
                      <tr>
                        <th class='text-center'>Alarm Index</th>
                        <th class='text-center'>Alarm Code</th>
                        <th class='text-center'>Alarm State</th>
                        <th class='text-center'>Slot</th>
                        <th class='text-center'>Date</th>
                        <th class='text-center'>Time</th>
                      </tr>
                      </thead>
                      <tbody id="body-alarm">

                      </tbody>
                    </table>
                    <div class="form-actions text-right">
                      <input id="btn-delete-buffer" style="margin: 20px;" type="reset" value="Delete Buffer Alarm" class="btn btn-danger">
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>

    <div id="default_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">CARD CONFIGURATION</h4>
          </div>

          <div class="modal-body with-padding card-content">

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- /page content -->
</div>

</div>
<!-- /page container -->
<script type="text/javascript" src="/js/core/mux-detail.js"></script>
<script type="text/javascript" src="/js/core/mux-alarm.js"></script>
</body>
</html>